@use '../../styles/vars/vars.scss' as *;

.input {
  position: relative;
  background-color: transparent;
  border-bottom: 1px solid $highlighting-color;
  width: 100%;
  padding-bottom: 7px;
  font-size: 13px;
}

.input:not(:placeholder-shown):invalid {
  color: $error-text-color;
}

.form__item {
  position: relative;
  width: 100%;
}

.auth__label {
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-in-out 0.2s;
  color: $secondary-text-color;
  font-size: 13px;
  pointer-events: none;
}

.input:focus ~ .auth__label,
.input:not(:placeholder-shown) ~ .auth__label {
  top: -20px;
  font-size: 9px;
}
