@use "../../styles/vars/vars.scss" as *;

.button {
  background-color: $highlighting-color;
  color: $primary-text-color;
  width: 100%;
  max-width: 280px;
  border-radius: 8px;

  height: 37px;
  font-size: 13px;
}
