<main class='app'>
  <form class="auth__form">
    <h1 class="auth__form__header">{{signinHeader}}</h1>
    {{>Input inputType='text' inputName='Логин' placeholder='Логин'}}
    {{>Input inputType='password' inputName='Пароль' placeholder='Пароль'}}
    {{>Button}}
    {{>BorderlessButton}}
  </form>
</main>