@use "../../styles/vars/vars.scss" as *;
.chats {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 100%;
  background-color: $dark-background-color;
}

.search__wrapper {
  display: flex;
  position: relative;
}

.search__icon {
  position: absolute;
  top: 6px;
  left: 20px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.chats__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 56px;
  border-right: 1px solid $highlighting-color;
}

.chat__list__items {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.chat__item {
  display: flex;
  flex: 1;
  height: 50px;
  padding: 10px;
  &:first-of-type {
    margin-top: 30px;
  }
  &:hover {
    background-color: $highlighting-color;
    .chat__unread {
      background-color: $primary-text-color;
      color: $dark-background-color;
    }
  }
}

.chat__data__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  margin-left: 10px;
  align-items: flex-start;
  height: fit-content;
  &:last-of-type {
    margin-left: auto;
  }
}

.chat__username {
  font-size: 13px;
  margin: 0 0 4px;
}

.chat__item__photo {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.chat__current__username {
  margin-left: 10px;
  font-size: 13px;
}

.chats__search {
  width: 100%;
  margin: 0 10px;
  padding-left: 34px;
  box-sizing: border-box;
  background-color: $highlighting-color;
  border: none;
  border-radius: 5px;
  height: 32px;
}

.chat__date {
  margin: 0;
  font-size: 9px;
}

.chat__unread {
  margin: 14px 0 0 0;
  font-size: 11px;
  background-color: $highlighting-color;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 3px;
  aspect-ratio: 1;
  text-align: center;
}

.chat__last-message {
  font-size: 12px;
  margin: 0;
}

.item__text {
  color: $secondary-text-color;
}

.chat_current_nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat_nothing {
  width: fit-content;
  font-size: 12px;
}

.chat_current_chat {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.chat__messages__wrapper {
  flex: 1;
}

.chat__user-info {
  display: flex;
  align-items: center;
  height: 54px;
  border-bottom: 1px solid $highlighting-color;
}

.chat__ellipsis {
  padding: 11px;
  margin-left: auto;
}

.chat__message__input__wrapper {
  display: flex;
  align-items: center;
  border-top: 1px solid $highlighting-color;
  padding: 11px 0;
}

.chat__message__attach__icon {
  width: 32px;
  height: 32px;
}

.chat__message__input {
  flex: 1;
  margin: 0 10px;
  height: 32px;
  border: none;
  border-radius: 30px;
  background-color: $light-background-color;
  color: $secondary-text-color;
  font-size: 12px;
  padding-left: 20px;
}

.svg__button {
  &:hover {
    cursor: pointer;
  }
}

.chat__user__photo {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background-color: $light-background-color;
}

.chat__action-title {
  margin-bottom: 50px;
}

.chat__action-title {
  font-size: 20px;
}

.chat__action-form .form__item {
  margin-bottom: 33px;
}
