<main class='app'>
  <div class='chats'>
    <aside class='chats__list'>
      <ul class='chat__list__items'>
        <input />
        <li class='chat__item'>
          <img
            class='chat__item__photo'
            src='https://i.pinimg.com/originals/9a/ce/bc/9acebcae12cdf5f09104ad3450814641.jpg'
          />
          <p class='chat__username'>Asdds</p>
          <div class='chat__data__wrapper'>
            <p>10:49</p>
            <p>asdasd</p>
          </div>
        </li>
      </ul>
    </aside>
    <div>

    </div>
  </div>
</main>