<main class='app'>
  <div class='notfound-page'>
    <h1 class='notfound__title'>404</h1>
    <h2 class='notfound__desc'>Не туда попали</h2>
    {{>BorderlessButton borderlessButtonType='button' borderlessButtonName='historyBack' borderlessButtonText='Назад'}}
  </div>
</main>