<main class='app'>
  <div class='notfound-page'>
    <h1 class='notfound__title'>{{errorCode}}</h1>
    <h2 class='notfound__desc'>{{errorMessage}}</h2>
    {{>BorderlessButton borderlessButtonType='button' borderlessButtonName='historyBack' borderlessButtonText='Назад'}}
  </div>
</main>
